[Unit]
Description=mptcp_netconfig service allowing to create proper configuration for MPTCP based on a config file.
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/mptcp/netconfig.py
Restart=always
User=root
WorkingDirectory=/usr/local/bin/mptcp/

[Install]
WantedBy=multi-user.target
