<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "MPTCP Enabler" ?>
<?define Manufacturer = "MPTCP" ?>
<?define Version = "1.0.0.0" ?>
<?define UpgradeCode = "9ED3FF33-8718-444E-B44B-69A2344B7E98" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
			 Manufacturer="$(Manufacturer)"
			 Version="$(Version)"
			 UpgradeCode="$(var.UpgradeCode)"
			 Compressed="true">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<!-- Define the directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">

				<!-- Create a folder inside program files -->
				<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">

					<!-- Create a folder within the parent folder given the name -->
					<Directory Id="INSTALLFOLDER" Name="$(Name)"/>

				</Directory>
			</Directory>
		</Directory>

		<!-- The files inside this DirectoryRef are linked to
             the App.WindowsService directory via INSTALLFOLDER -->
		<DirectoryRef Id="INSTALLFOLDER">
			<!-- Create a single component which is the App.WindowsService.exe file -->
			<Component Id="ServiceExecutable" Bitness="always64">

				<!-- Copies the App.WindowsService.exe file using the
                     project reference preprocessor variables -->
				<File Id="mptcp_enabler.exe"
					  Source="$(var.mptcp_enabler.TargetDir)win-x64\publish\mptcp_enabler.exe"
					  KeyPath="true" />

				<!-- Include the bzImage file in the installation -->
				<File Id="bzImageFile"
					  Source="..\mptcp-kernel\bzImage"
					  KeyPath="no" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
								Type="ownProcess"
								Name="MPTCPEnabler"
								DisplayName="$(Name)"
								Description="Enable MPTCP Inside WSL2"
								Start="auto"
								ErrorControl="normal" />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
								Start="install"
								Stop="both"
								Remove="uninstall"
								Name="MPTCPEnabler"
								Wait="true" />
			</Component>
		</DirectoryRef>

		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="MPTCP Enabler Setup" Level="1">
			<ComponentRef Id="ServiceExecutable" />
		</Feature>

	</Package>
</Wix>
